body{
    background-image: url("assets/fundoSite.jpg");
    
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 100px;
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    margin: 20px;
}
header a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}
a:link, a:visited {
    
    color: rgb(173, 113, 0);
    border-radius: 10px ;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }
  
  a:hover, a:active {
    background-color: rgb(97, 97, 97);
  }

section{
    display: flex;
    background-color: rgb(190, 190, 190);
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;

}
div h1,p{
    text-align: center;

}
img{
    margin: 0 100px;
    width: 210px;
    height: 320px;
    border-radius: 20px;

}
div input{
    display: flex;
    width: 426px;
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    margin:auto;
}
textarea{
    display: flex;
    border-radius: 20px;
    justify-content: center;
    margin: auto;
}
.planos{
    display: flex;
    justify-content: space-around;
    
}
.planos div{
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
    height: 180px;
    width: 180px;
    border-radius: 10px;
}
.planos div h3,p{
    margin: 10px;
    text-align: center;
}

.aulas{
    display: flex;
    
}

.aulas div div{
    height: 150px;
    background-color: #f1f1f1;
    margin: 20px;
    border-radius: 10px;
}

.aulas div div h3{
    text-align: center;
}
.aulas div div p{
    text-align: left;
}

.divLogin{
    background-color: #f1f1f1;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    
}
.divLogin h1{
    color: black;
    
    
}