body{
    background-image: url("assets/fundoSite.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}
main{
    width: 1440px;
    height: 800px;
    display: flex;

    justify-content: center;
}

.divLogin{
    background-color: #f1f1f1;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 100px;
    
}
.divLogin h1{
    color: black;
}
div input{
    display: flex;
    width: 426px;
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    margin:20px;
}
div h1,p{
    text-align: center;
}